body {
    margin: 20px;
    padding: 20px;
   

}
.ion-1{
    display:flex;
    background-color: aquamarine;
    width: 400px;
    padding:30px;
}
  img {
    
 width: 200px;
padding:25px;
    
   
    

}

